@import "tailwindcss";
@layer components{
    .btn-sidebar {
        @apply 
        px-4 py-2 
        flex items-center  gap-2 
        rounded-lg 
        hover:bg-yellow-200 transition 
        hover:text-black
        focus:outline-none 
        focus:ring-2
        focus:ring-yellow-500
        focus:border-yellow-500
        focus:text-black;
    }

}
*{
    /* border:1px solid black; */
}